<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/asset/image/favicon/matrix.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" media="screen" href="/asset/lib/bootstrap-5.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/asset/css/font.css">
    <link rel="stylesheet" type="text/css" href="/asset/css/style.css">
    <link rel="stylesheet" type="text/css" href="/asset/css/section.css">
    <script src="/asset/lib/bootstrap-5.3.1/js/bootstrap.min.js"></script>
    <script src="/asset/lib/jQuery-3.7.1/jquery.js"></script>
    <script src="/asset/js/subject.js"></script>
    <title>{{ site.title }} | {{ page.title }}</title>
</head>