---
layout: default
---

{% for post in site.posts %}
    {% if post.path contains page.url %}
        <div class="mt-3">
            <article class="lh-lg">
                <a class="text-decoration-none text-black" href="{{ post.url }}">
                    <span class="h5 fw-bold">
                        {% if post.type %}
                            <span>【{{ post.type }}】</span>
                        {% endif %}
                        {{ post.title }}
                    </span>
                    <span>{{ post.date | date: "%Y-%m-%d" }}</span>
                </a>
            </article>
        </div>
    {% endif %}
{% endfor %}